div{
    background-color: rgb(21, 142, 248);
    padding: 20px;
    margin: 20px;
}
#boy{
    background-color: burlywood;
}
img{
    width: 150px;
}
img{
    width: 100px ;
   
   padding: 10px;
   border: 20px;
  